<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>
            <div class="header">
                <button mat-icon-button routerLink="/" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>Se connecter</h1>
            </div>
        </mat-card-title>
        <mat-card-content fxLayout="column">
            <form class="login-form" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="submit()" class="form-container">
                <span>E-mail ou nom d'utilisateur</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput formControlName="username">
                </mat-form-field>
                <span>Mot de passe</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center" class="form-button">
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
                </div>
                <p *ngIf="onError" class="error">Une erreur s'est produite</p>
            </form>
        </mat-card-content>
    </mat-card>
</div>