<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Se connecter</mat-card-title>
        </mat-card-header>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <mat-form-field fxFlex>
                    <label>E-mail ou nom d'utilisateur</label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <label>Mot de passe</label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
            <p *ngIf="onError" class="error">Une erreur s'est produite</p>
        </form>
    </mat-card>
</div>