<div class="list">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" routerLink="create" class="create-button">
                <span>Créer un thème</span>
            </button>
        </mat-card-header>
        <div class="items" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let topic of (topics$ | async)">
                <mat-card-header>
                    <mat-card-title>
                        {{ topic.name | titlecase }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ topic.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="!isSubscribed(topic)" mat-raised-button color="primary" [routerLink]="['/topics']" (click)="subscribe(topic.topic_id.toString())">
                        <span>S'abonner</span>
                    </button>
                    <button *ngIf="isSubscribed(topic)" mat-raised-button color="primary" [routerLink]="['/topics']" (click)="unsubscribe(topic.topic_id.toString())">
                        <span>Se Désabonner</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>