<div class="register" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>
            <div class="header">
                <button mat-icon-button routerLink="/" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>Inscription</h1>
            </div>
        </mat-card-title>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <span>Nom d'utilisateur</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput formControlName="username">
                </mat-form-field>
                <span>E-mail</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput formControlName="email">
                </mat-form-field>
                <span>Mot de passe</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
                        Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center" class="form-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Inscription</button>
            </div>
            <span *ngIf="onError" class="error ml2">An error occurred</span>
        </form>
    </mat-card>
</div>
