<div class="list">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" routerLink="create" class="create-button">
                <span class="ml1">Créer un article</span>
            </button>             
        </mat-card-header>
        <div class="items" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let post of (posts$ | async)" fxFlex>
                <mat-card-header>
                    <mat-card-title>
                        <a [routerLink]="['/posts', post.post_id]">{{ post.title | titlecase  }}</a>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info-row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
                        <div fxLayout="center">
                            <span class="info-item">Date : {{ post.updated_at | date: 'dd/MM/YYYY'}}</span>
                        </div>
                        <div fxLayout="center">
                            <span class="info-item">Auteur : {{ post.user_id }}</span>
                        </div>
                    </div>
                    <p>{{ post.content }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>