<div class="list">
    <mat-card>
        <mat-card-header fxLayout="row">
            <div class="header-buttons">
                <button mat-raised-button color="primary" routerLink="create" class="create-button">
                    Créer un article
                </button>
                <button mat-icon-button (click)="changeSortOrder()" fxFlex="auto" class="sort-button">
                    Trier par
                    <mat-icon>{{ sortDescending ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <div class="items" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let post of (posts$ | async)" fxFlex>
                <mat-card-header>
                    <mat-card-title>
                        <a [routerLink]="['/posts', post.post_id]">{{ post.title | titlecase  }}</a>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info-row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
                        <div fxLayout="center">
                            <span class="info-item">Date : {{ post.updated_at | date: 'dd/MM/YYYY'}}</span>
                        </div>
                        <div fxLayout="center">
                            <span class="info-item">Auteur : {{ authors[post.user_id.id].username || '' }}</span>
                        </div>
                    </div>
                    <p>{{ post.content }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>