.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.logo-container {
    margin-bottom: 50px;
}

.logo {
    width: 400px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

button {
    background-color: white !important;
    border: 1px solid black;
    color: black;
}