<div class="detail">
    <mat-card *ngIf="post">
        <mat-card-title>
            <div class="header">
                <button mat-icon-button routerLink="/posts">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>{{ post.title | titlecase }}</h1>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="info-row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
                <span class="info-item">Date : {{ post.updated_at | date: 'dd/MM/YYYY' }}</span>
                <span class="info-item">Auteur : <!-- {{ post.user_id.username }} --></span>
                <span class="info-item">Thème : {{ post.topic_id }}</span>
            </div>
            <div class="description">
                {{ post.content }}
            </div>
        </mat-card-content>
    </mat-card>
</div>
