mat-toolbar {
    background-color: white;
    border-bottom: 1px solid black;
}

.logo-header img {
    width: 120px;
    height: auto;
    vertical-align:middle;
}

.link {
    color: #000000 ;
    text-decoration: none;
    margin-right: 20px;
    
    &:hover {
        color: var(--primary-color);
        text-decoration: none;
    }
}

.active-link {
    color: var(--primary-color) !important;
}
