<div class="app">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo-header">
            <span routerLink=""><img src="assets/logo.png" alt="MDD Logo" class="logo" /></span>
        </div>
        <div *ngIf="$isLogged() | async; else notLogged">
            <span routerLink="posts" routerLinkActive="active-link" class="link">Articles</span>
            <span routerLink="topics" routerLinkActive="active-link" class="link">Thèmes</span>
            <span routerLink="me" routerLinkActive="active-link" class="link">Profil</span>
        </div>
        <ng-template #notLogged>
        </ng-template>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
