<div class="me" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>
            <div class="header">
                <h1>Profil utilisateur</h1>
            </div>
        </mat-card-title>
        <mat-card-content fxLayout="column">
            <form class="login-form" fxLayout="column" [formGroup]="meForm" (ngSubmit)="submit()" class="form-container">
                <span>Nom d'utilisateur</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput formControlName="username">
                </mat-form-field>
                <span>E-mail</span>
                <mat-form-field appearance="outline" class="custom-field" fxFlex>
                    <input matInput formControlName="email">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center" class="form-button">
                    <button mat-raised-button color="primary" type="submit" [disabled]="meForm.invalid">Sauvegarder</button>
                </div>
                <p class="error" (click)="logout()">Se déconnecter</p>
                <p *ngIf="onError" class="error">Une erreur s'est produite</p>
            </form>
        </mat-card-content>
        <hr />
    </mat-card>
</div>
